


{{input value=search placeholder="search" classNames="form-control"}}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>City</th>
      <th>Difference</th>
      <th>Current Time</th>
    </tr>
  </thead>

  <tbody>
  {{#each zone in zones itemController="zone"}}
    {{#if zone.isNew}}
    <tr>
      <td><span class="glyphicon glyphicon-remove" {{action 'remove'}}></span></td>
      <td><span class="glyphicon glyphicon-check" {{action 'create'}}></span></td>
      <td>{{input action="create" value=zone.name}}</td>
      <td>{{input action="create" value=zone.cityName}}</td>
      <td>{{input action="create" value=zone.minutesOffset class="short"}}</td>
      <td>{{zone.currentTime}}</td>
    </tr>
    {{else}}
    <tr>
      <td><span class="glyphicon glyphicon-remove" {{action 'remove'}}></span></td>
      <td>{{#link-to 'zones.edit' zone.id}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
      <td>{{zone.name}}</td>
      <td>{{zone.cityName}}</td>
      <td>{{zone.minutesOffset}} minutes</td>
      <td>{{zone.currentTime}}</td>
    </tr>
    {{/if}}
  {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <td colspan="100">
        <button {{action 'newZone'}} type="button" class="btn btn-default">New Zone</button>
      </td>
    </tr>
  </tfoot>


</table> 




{{outlet}}

