


{{#link-to 'zones.new'}}
  new
{{/link-to}}

{{view Ember.TextField value=search placeholder="search" classNames="form-control"}}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>City</th>
      <th>Difference</th>
      <th>Current Time</th>
    </tr>
  </thead>

  {{#each zone in zones itemController="zone"}}
  <tbody>
    <tr>
      <td>
        {{#unless zone.isNew}}
          <span class="glyphicon glyphicon-remove" {{action 'remove'}}></span>
        {{/unless}}
      </td>
      <td>
        {{#unless zone.isNew}}
          {{#link-to 'zones.edit' zone.id}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
        {{/unless}}
      <td>{{zone.name}}</td>
      <td>{{zone.cityName}}</td>
      <td>{{zone.minutesOffset}} minutes</td>
      <td>{{zone.currentTime}}</td>
    </tr>
  </tbody>
  {{/each}}
</table> 




{{outlet}}

