


{{#link-to 'zones.new'}}
  new
{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>City</th>
      <th>Difference</th>
      <th>Current Time</th>
    </tr>
  </thead>

  {{#each itemController="zone"}}
  <tbody>
    <tr>
      <td>
        {{#unless isNew}}
          <span class="glyphicon glyphicon-remove" {{action 'remove'}}></span>
        {{/unless}}
      </td>
      <td>
        {{#unless isNew}}
          {{#link-to 'zones.edit' id}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
        {{/unless}}
      <td>{{name}}</td>
      <td>{{cityName}}</td>
      <td>{{minutesOffset}} minutes</td>
      <td>{{currentTime}}</td>
    </tr>
  </tbody>
  {{/each}}
</table> 




{{outlet}}

